.navbar{
    position: relative;
    top: 0;
    right: 0;
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
}

.header{
    height: 10rem;
    display: flex;
    justify-content: center;
}

.headerText{
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
}

.logButton{
    position: relative;
    height: 3rem;
    min-width: 10rem;
    background-color: rgb(95, 93, 93);
    padding: 0.4rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 2%;
    justify-content: left;
    align-items: center;
    border: 1px black solid;
    color: white;
    font-family: 'Pacifico', cursive;
}

.logButton:hover{
    background-color: rgb(65, 163, 131);
    color: rgb(95, 93, 93);
}

.welcome{
    position: relative;
    height: 3rem;
    min-width: 10rem;
    background-color: rgb(163, 163, 163);
    padding: 0.4rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 2%;
    justify-content: left;
    align-items: center;
    border: 1px black solid;
    color: white;
    font-family: 'Pacifico', cursive;
}

.cart{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.4rem;
}

.cart:hover{
    background-color: red;
    border-radius: 25%;
}

.routebar{
    position: relative;
    height: 20rem;
    top: 5rem;
}
.subroutebar1{
    position: relative;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.subroutebar2{
    position: relative;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.routerposition{
    position: relative;
    width: 25%;
    height: 100%;
    
}

.subrouterposition{
    position: relative;
    width: 75%;
    height: 75%;
    background-color: rgba(127, 255, 212, 0.432);
    margin: auto;
    top: 12.5%;
    border: 3px black dotted;
}

.subrouterposition:hover{
    background-color: rgba(255, 0, 0, 0.432);
    border: 3px rgb(54, 54, 48) dotted;
}

.routerText{
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    text-align: center;
}