.fullBody{
    display: flex;
    flex-direction: column;
    /* height: 80rem; */
}

.navbar{
    position: relative;
    top: 0;
    right: 0;
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    z-index: 100;
}

.header{
    height: 10rem;
    display: flex;
    justify-content: center;
}

.headerText{
    font-family: 'Pacifico', cursive;
    font-size: 7rem;
    text-decoration: none;
}

.headerText:visited{
    color: inherit;
}

.logButton{
    position: relative;
    height: 3rem;
    min-width: 10rem;
    background-color: rgb(95, 93, 93);
    padding: 0.4rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 2%;
    justify-content: left;
    align-items: center;
    border: 1px black solid;
    color: white;
    font-family: 'Pacifico', cursive;
}

.logButton:hover{
    background-color: rgb(65, 163, 131);
    color: rgb(95, 93, 93);
}

.welcome{
    position: relative;
    height: 3rem;
    min-width: 10rem;
    background-color: rgb(163, 163, 163);
    padding: 0.4rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 2%;
    justify-content: left;
    align-items: center;
    border: 1px black solid;
    color: white;
    font-family: 'Pacifico', cursive;
}

.cart{
    position: relative;
    width: 100%;
    height: 100%;
    right: 0.5rem;
}
.cartouter{
    position: relative;
    width: 100%;
    height: 100%;
    right: 0.5rem;
}

.cartItemCount {
    position: absolute;
    top: 0;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }

.cart:hover{
    border: 1px black solid;
}

.routebar{
    position: relative;
    height: 20rem;
    top: 5rem;
}
.subroutebar1{
    position: relative;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.subroutebar2{
    position: relative;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.routerposition{
    position: relative;
    width: 25%;
    height: 100%;
    
}

.subrouterposition{
    position: relative;
    width: 75%;
    height: 75%;
    background-color: rgba(127, 255, 212, 0.432);
    margin: auto;
    top: 12.5%;
    border: 3px black dotted;
}

.subrouterposition:hover{
    background-color: rgba(255, 0, 0, 0.432);
    border: 3px rgb(54, 54, 48) dotted;
}

.routerText{
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.routerText:visited{
    color: inherit;
}

.routedbody{
    height: 100rem;
    display: flex;
/*     justify-content: center; */
    width: 100%;
    flex-direction: column;
}

.shopText{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    height: 4rem;
    text-align: center;
}

.sales{
    height: 33%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.subSales{
    position: relative;
    width: 25%;
    height: 100%;
    border: 2px black solid;
}

.imgfixH{
    height: 100%;
}

.imgfixW{
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.sale{
    position: absolute;
    width: 40%;
    right: 0;
    top: 5%;
}

.purchasetab{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 15%;
    background-color: rgba(39, 37, 37, 0.384);
    border-top: 1px black solid;
}

.price{
    align-items: left;
    width: 50%;
    border-top: 1px black solid;
}

.addToCart{
    align-items: right;
    width: 50%;
    border-top: 1px black solid;
    border-left: 1px black solid;
}

.textAdd{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    vertical-align: middle;
    line-height: 225%;
    color: yellow;
}

.textEdit{
    text-decoration: line-through;
    color: rgb(243, 63, 63);
}

.subSalesAlt{
    position: relative;
    height: 100%;
    width: 25%;
    border: 2px black solid;
}

.items{
    height: 33%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    width: 30%;
    height: 10%;
    border: 1px black solid;
}

.cartbtn{
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    /* background-image: url("../img/shopping-cart-free-15-svgrepo-com.svg"); */
}